{% extends 'common/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <form action="" method="post">
        {% csrf_token%}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary btn-block" value="로그인">
    </form>

    <form action="" method="post">
        {% csrf_token%}
        <input type="hidden" name="username" required maxlength="30" value="guest"/>
        <input type="hidden" name="password" required maxlength="20" value="1234567&" />
        <input type="submit" class="btn btn-default btn-block" value="Guest 로그인" style="margin-top: 50px;margin-bottom: 5px;">
    </form>
    <input type="submit" class="btn btn-success btn-block" value="Twitter 로그인">
    <input type="submit" class="btn btn-info btn-block" value="Facebook 로그인">
    <input type="submit" class="btn btn-warning btn-block" value="Kakao 로그인">
{% endblock %}