{% extends 'common/base.html' %}

{% block content %}
{% load bootstrap3 static %}

<div class="container_top">
    <div>
        <h2 id="nav-breadcrumbs">{{ board.title }}</h2>
    </div>
</div>

<div class="container_bottom" id="div_card_dashboard">
    {% include 'contents/partial/partial_card_list.html' %}
</div>


<div>
    <div class="modal fade" id="modal_card_list">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="modal_card">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery %}
    <script src="{% static 'js/card_dashboard.js' %}"></script>
{% endblock %}