{% extends 'common/base.html' %}

{% block content %}
{% load bootstrap3 static %}
<div class="div_main_dashboard" id="div_team_dashboard">
    {% include 'contents/partial/partial_team_list.html' %}
</div>

<div>
    <p>
        <button type="button" class="btn btn-default js-create-team">
          <span class="glyphicon glyphicon-plus"></span>
          Create a new team
        </button>
    </p>
    <div class="modal fade" id="modal_team">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="modal_board">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block jquery %}
    <script src="{% static 'js/team_dashboard.js' %}"></script>
{% endblock %}