{% load static %}
<div>
    <h3>Starred Boards</h3>
    <ul class="ul_main_dashboard">
        <li><div class="div_board">test1</div></li>
    </ul>
</div>

{% for team in teams %}
<div class="team_list">
    <h3><i class="glyphicon glyphicon-briefcase" style="margin-right: 10px;"></i>{{ team.title }}</h3>
    <div>class="row">
        {% for board in team.board_set.all %}
        <div class="col-md-3">
            <div class="bs-component">
                <a href="{% url 'dashboard:card_list' board.id %}">
                    <div class="panel panel-default" style="width: 250px;height: 100px;margin-right: 30px;">
                      <div class="panel-body">
                        <strong>{{ board.title }}</strong>
                      </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-3">
            <div class="bs-component">
                <div class="div_newboard js-create-board" data-team_id="{{ team.id }}">Create new board...</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script src="{% static 'js/partial_team_list.js' %}"></script>
