{% load static %}
{% for cardlist in cardlists %}
<div class="panel panel-default" style="width: 230px;vertical-align: top;display: inline-block;">
    <div class="panel-heading">
        <h3 class="panel-title">{{ cardlist.title }}</h3>
    </div>
    <div class="panel-body">
        {% for card in cardlist.card_set.all %}
            {% if forloop.last %}
                <div class="well" style="margin-bottom: 0px;">{{ card.title }}</div>
            {% else %}
                <div class="well" style="margin-bottom: 20px;">{{ card.title }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <button type="button" class="btn btn-default btn-sm js-create-card" style="width: 100%;" data-board_id="{{ cardlist.id }}">
          <span class="glyphicon glyphicon-plus"></span>
          Add a card...
        </button>
    </div>
</div>
{% endfor %}

<div class="card_list_add" id="card_list_add" style="display: inline-block;">
    <div id="create_list_btn2">
        <button type="button" class="btn btn-default js-create-cardlist" style="width: 230px;" data-board_id="{{ board.id }}">
          <span class="glyphicon glyphicon-plus"></span>
          Add a list...
        </button>
    </div>
</div>

<script src="{% static 'js/partial_card_list.js' %}"></script>
