$index_header_height: 45px;
$cotent_header_height: 45px;
$card_height: 100px;
$top_nav_bgcolor: #0062B4;
$content_font_color: #ffffff;
$new_card_color: #7B7B7B;
$new_card_color_hover: #444444;
$btn_success_color: #4AAF46;
$btn_success_color_hover: #388736;
$btn_primary_color: #003E89;
$btn_primary_color_hover: #00224C;
