@import "variables";

html, body {
    height: 100%;
}

div.container {
    div.container_bottom {
        height: 100%;
    }
}

a {
    text-decoration: none !important;
    color: #2c3e50;

    &:hover {
        color: #2c3e50;
    }
}

.div_newboard {
    width: 250px;
    line-height: $card_height;
    color: $new_card_color;
    text-align: center;
    background-color: #DBDDE0;
    border-radius: 5px;

    &:hover {
        color: #DBDDE0;
        background-color: #8E8F91;
    }
}
