{% extends 'common/base.html' %}
{% load bootstrap3 static %}

{% block content %}
<div class="bs-component" style="height: 100%;display:flex;align-items:center;">
    <div class="jumbotron" style="width: 100%;height: 70%;">
        <div><h1>Welcome to Trello!!!!</h1></div>
        <hr>
        <div style="height:50%;display:flex;align-items:center;"><a href="{% url 'dashboard:team_dashboard' %}" class="btn btn-primary btn-lg">Team Board로 이동</a></div>
    </div>
</div>
{% endblock %}

{% block sub_content %}
<div style="background-color:#7C8FD3;padding: 40px 0 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="bs-component">
                    <img src="{% static 'images/stack_info.jpg' %}" style="width: 100%;" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bs-component">
                    <div style="vertical-align: middle;color: #ffffff">
                        <h1><strong>Stack</strong></h1>
                        <h3>
                            <ul>
                                <li style="margin-top: 20px;">Python / Dajango</li>
                                <li style="margin-top: 20px;">Bootstrap</li>
                                <li style="margin-top: 20px;">Jquery</li>
                                <li style="margin-top: 20px;">Ajax</li>
                                <li style="margin-top: 20px;">AWS Elastic Beanstalk / S3 / RDS</li>
                                <li style="margin-top: 20px;">PostgreSQL</li>
                                <li style="margin-top: 20px;">Docker</li>
                            </ul>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}